/* CSS file syntax
.className{
  property : value;
  property : value;
} */

/* HTML file syntax
<HTMLKeyword class="className"> </HTMLKeyword> */

.heading {
  color:rgb(131, 20, 129);
  background-color: rgb(255, 234, 0);
  text-align: center; /* center, left, right - It work for block level element*/
  text-decoration-line: overline underline; /*underline, line-through, overline*/
  text-decoration-color: red;
  text-decoration-style: solid; /* solid, dotted, dashed, double, wavy */
  text-decoration-thickness: 2px;
  text-transform: capitalize; /*lowercase, uppercase, capitalize */
  font-family: 'Dancing Script', cursive;
}

.paragraph{
  text-indent: 100px;
  letter-spacing: 5px;
  line-height: 2.5;
  word-spacing: 15px;
  font-size: 24px;
  font-weight: bolder; /* 100,...900, bold, bolder, lighter, normal */
  font-style: normal; /*normal, italic  */
  font-family: 'Dancing Script', cursive; /* serif, sans-serif, monospace, cursive, fantasy */
}

/* Absolute Length
1. Fixed size 
2. It will appear same in all devices */

.absolute-box{
  width: 500px;
  height: 200px;
  background-color: blueviolet;
}

/* Relative Length 
1. Dynamic Size
2. It will apper different in all devices */

.relative-box{
  width: 50vw;
  height: 25vh;
  background-color: brown;
}

.heading-border{
  border-style: solid;
  /* border-top-style: dashed;
  border-bottom-style: solid;
  border-left-style: double;
  border-right-style: dotted; */

  border-width: 3px;
  border-color: #741ba7;
  border-radius: 30px;

  /* border: 2px solid red; */
}

.relative-heading{
  border: 2px solid red;
  padding-left: 50px;
  margin-left: 50px;
}

.website-background{
  background-color: aliceblue;
  /* background-image: url("./shinchan.png"); */
  /* background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZvIr-JQQivHCqAiTWnoZfukGw0N9sqFEVyq8gHRyWMIHyvR_gT51G2WuFJaAEHm5Wmh0&usqp=CAU"); */
  background-repeat: no-repeat; /* no-repeat, repeat, repeat-x, repeat-y */
  background-size: 100vw 100vh; /* width height */
}

.table-look{
  border: 2px solid black;
  border-collapse: collapse;
  text-align: center;
}

.column-name{
  width: 150px;
}

.column-email{
  width: 300px;
}

.highlight-red{
  background-color: red;
  color: white;
}

.small-box{
  width: 250px;
  height: 200px;
  border: 2px solid black;
  overflow: auto;
}

/* Mobile Resoltions */
@media only screen and (min-width : 0px) and (max-width : 480px) {
  .website-background{
    background-color: red;
  }
}
/* iPads, Tablets  Resoltions */
@media only screen and (min-width : 481px) and (max-width : 768px){
  .website-background{
    background-color: blue;
  }
}
/*Small screens, laptops Resoltions */
@media only screen and (min-width : 769px) and (max-width : 1024px){
  .website-background{
    background-color: green;
  }
}
/*Desktops, large screens Resoltions */
@media only screen and (min-width : 1025px) and (max-width : 1200px){
  .website-background{
    background-color: yellow;
  }
}
